@model MyWeddingPlanner.Web.ViewModels.Blog.ArticleListViewModel;
@{
    this.ViewData["Title"] = "All Blog Articles ";
}

<h1>@this.ViewData["Title"]</h1>
<a class="btn btn-secondary" asp-controller="Blog" asp-action="Create">Add a Post</a>
<hr />
<div class="row col-lg-12" >
    @foreach (var article in this.Model.Articles)
    {
        <div class="card  col-lg-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    @article.Title
                </h5>
                <p class="card-text">@Html.Raw(article.ShortContent)</p>
                <a asp-action="ById" asp-route-id="@article.Id" class="btn btn-secondary">Details</a>
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />



