@model MyWeddingPlanner.Web.ViewModels.MyWedding.BudgetViewModel;



<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #rcorners4 {
            border-radius: 15px;
            padding: 10px;
            width: 90px;
            height: 70px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>

<h1 class="text-center">Wedding Budget</h1>
<div class="row">
    <p class="col-md-2"></p>
    <h4 class="col-md-2" style="background: #faebd7;" id="rcorners4">
        <strong >Budget</strong>
        <p> @Model.Budget</p>
    </h4>
    <p class="col-md-1"></p>
    <h4 class="col-md-2" style="background: #f5f5dc;" id="rcorners4">
        <strong>Paid</strong>
        <p> @Model.TotalPaid</p>
    </h4>
    <p class="col-md-1"></p>
    <h4 class="col-md-2" style="background: #faf0e6;" id="rcorners4">
        <strong>To pay</strong>
        <p> @Model.TotalLeft</p>
    </h4>
</div>

<table>
    <tr>
        <th>Expense</th>
        <th>Total price</th>
        <th>Paid</th>
        <th>Left to pay</th>
        <th>Due date</th>
    </tr>
    @foreach (var expense in @Model.Expenditures)
    {
        <tr>
            <td>@expense.Name</td>
            <td>@expense.TotalAmount</td>
            <td>@expense.PaidAmount</td>
            <td>@expense.LeftAmount</td>
            <td>@expense.DueDate.ToShortDateString()</td>
        </tr>
    }
<tr>
    <form method="post">
        <div class="input-group">
            <td><input type="text" name="Name" required class="form-control" placeholder="Expenditure name"></td>
            <td> <input type="number" step=".01" name="TotalAmount" required class="form-control" placeholder="Total amount "></td>
            <td><input type="number" step=".01" name="PaidAmount" required class="form-control" placeholder="Paid amount "></td>
            <td><input type="date" name="DueDate" required class="form-control" placeholder="Due date"></td>
            <div class="input-group-append">
               <td><button class="btn btn-light"><i class="fa fa-plus m-r10"></i>Add Expenditure</button></td>
            </div>
        </div>
    </form>
</tr>
</table>


</body>
</html>