@model MyWeddingPlanner.Web.ViewModels.MyWedding.WeddingViewModel;
@{
    this.ViewData["Title"] = "My Wedding";
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@Model.BrideName & @Model.GroomName</h2>
            <h3>
                <strong>@Model.TimeLeft days</strong> left
            </h3>
            <h3><strong>Date: </strong>@Model.Date</h3>
            <h3><strong>Location: </strong>@Model.Location</h3>
        </div>
        <div style="text-align:center">
            <h3><a asp-controller="MyWedding" asp-action="AllGuests"><strong>Guests: </strong>100</a></h3>
            <h3><a asp-controller="MyWedding" asp-action="AllGuests"><strong>Tasks to complete: </strong>100</a></h3>
            <h3><a asp-controller="MyWedding" asp-action="AllGuests"><strong>Money spent: </strong>100</a></h3>
            <h3><a asp-controller="MyWedding" asp-action="AllGuests"><strong>Money left: </strong>100</a></h3>
        </div>
    </div>
</section><!-- End About Section -->