@model MyWeddingPlanner.Web.ViewModels.Forum.PostsListViewModel
@{
    this.ViewData["Title"] = "All Forum Posts";
}

<h1>@this.ViewData["Title"]</h1>
<a class="btn btn-secondary" asp-controller="Forum" asp-action="Create">Add a Post</a>
<hr />
@foreach (var post in this.Model.Posts)
{
    <div class="row col-lg-12">
        <div class="card col-lg-12" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title" style="font-weight:bold;">
                    @post.Title
                </h4>
                <p class="card-text">@post.Email</p>
                <p class="card-text">@Html.Raw(post.ShortContent)</p>
                <a asp-action="ById" asp-route-id="@post.Id" class="btn btn-secondary">Details</a>
            </div>
        </div>
    </div>
}
<hr />

<partial name="_PagingPartial" model="@Model" />